.p5{
    padding: .5em;
}
.somos{
    border:1px solid #b7b8bd;
    padding: 2em;
    /*background-color: #fff;*/
    backdrop-filter: blur(62px);
}
.logo{
    letter-spacing: 8px;
}
@media(max-width:425px){
.logo{
    letter-spacing: 0px;
    }
}