.p5{
    padding: .5em;
}
.somos{
    border:1px solid #b7b8bd;
    padding: 2em;
    backdrop-filter: blur(62px);
}
.logo{
    letter-spacing: 8px;
}
@media(max-width:768px){
    .somos{
    background-color: #ffffff;
    }
}
@media(max-width:425px){
.logo{
    letter-spacing: 0px;
    }
}
footer a,footer a:hover{
    color:#000000;
}
footer a > i{
    font-size: 25px;
    margin-right: 5px;
}
footer > a:nth-child(3) i{
    margin-right: 0;
}
.text-bg-color{
    font-size:1rem;
}
.btn-up{
    display: none;
}
.btn-up i{
    font-size: 30px;
    color: #000000;
}
.fxd{
    position: fixed;
    top:15px;
    right: 30px;
}