/* COLORES */
$redFem:#ff0000;
$orangeFem:#FF8D00;
$yellowFem:#FFFF00;
$greenFem:#4AC364;
$blueFem:#0000ff;
$purpleFem:#9C27B0;
$grisFem:#828181;

.red-fem-bg{
    background-color: #ff0000;
}
.orange-fem-bg{
    background-color: #FF8D00;
}
.blue-fem-bg{
    background-color: #0000FF;
}
.purple-fem-bg{
    background-color: #9C27B0;
}
.green-fem-bg{
    background-color: #4AC364;
}
.yellow-fem-bg{
    background-color: #FFFF00;
}
.btn-floating:hover{
    background-color: #ff0000;
}
.large{
    font-size:3rem;
}
#grid {
    position: fixed;
    width: 100%;
    z-index: -2;

    .row {
        margin-left: 0px;
        margin-right: 0px;
        .col{
        padding: 0;}
    }

    .grid-line {
        height: 100vh;
        border-left: 1px solid #000;
        opacity: .2;
    }

    .grid-line--left {
        border-right: 1px solid #000;
        opacity: .2;
    }
}
.social{
    position:fixed;
   margin-top: 1em;
    right: 2%;
    ul{
        li{
            line-height: 5;
        }
    }
}
.heart{
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
}

.fixed-top {
    position: fixed;
    width: 500px;
    height: 500px;
    background: $grisFem;
    border-radius: 12px;
    margin-top: -250px;
    margin-left: 125px;
    overflow: hidden;
    z-index: -1;
    @media(max-width:768px){
        width: 200px;
        height: 200px;
        margin-top: -50px;
    }
    @media(max-width:425px){
        width: 100px;
        height: 100px;
    }
}
.abs{
    position: absolute;
    width: 100%;
    height: auto;
}



.wrapper-logo{
   margin-top: 1em;
    max-width: 7em;
    display: inline-block;
    img{
        object-fit: cover;
        width: 100%;
    }
}
.hder {
    h3{
         font-size: 5em;
    }
    p {
        font-size: 4em;
        i{
            font-size: .7em;
            color: #b0bec5;
        }
        }
}

.small-shape{
        position: absolute;
        width: 60px;
        height: 60px;
        background: #e0e0e0;
        border-radius: 12px;
        margin-left: -60px;
        right:100px;
      
}

.c-green {
    position: absolute;
    right: 5%;
    width: 50px;
    height: 50px;
    background: $grisFem;
    border-radius: 12px;
    margin-left: -60px;
    margin-top: 800px;
    z-index: -1;
}
.c3{
    position: absolute;
    right: 15%;
    width: 50px;
    height: 50px;
    background:$grisFem;
    border-radius: 12px;
    margin-left: -60px;
    margin-top: 200px;
    z-index: -1;
}
.letter{
    display: inline-block;
}
.delay-fast1{
    animation-delay: .1s;
}
.delay-fast2{
    animation-delay: .2s;
}
.delay-fast3{
    animation-delay: .3s;
}
.delay-fast4{
    animation-delay: .4s;
}
.delay-fast5{
    animation-delay: .5s;
}
.delay-fast6{
    animation-delay: .6s;
}
